<div id="product-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Comentarios</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>        
      </div>
      <%= form_for(@comment, url: solicitud_comments_path(@solicitud), method: :post, remote: true) do |f| %>        
        <div class="modal-body">
          <div class="form-group">
            <%= f.text_area :descripcion, {:class => "tinymce", :rows => 5, :cols => 48, placeholder: 'COMENTARIO'} %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit 'Agregar', class: "btn btn-primary btn-lg btn-block" %>
        </div>
        <div id="lista_comments">
          <%= render 'comments/lista', comments: @comments, solicitud_id: @solicitud.id %>
        </div>
      <% end %>
    </div>
  </div>
</div>