<h5>Requerimientos</h5>
<div class="row">
	<div class="col">
		<div class="actions text-left">Ordenar:
			<%= select_tag "order", raw("<option value=''></option><option value='1'>Por votos</option><option value='2'>Alfabeticamente</option>"), {class: "form-control"} %>
		</div>
	</div>
</div>